@import '/src/assets/scss/general.scss';

header {
    width: 100%;
    background-color: $app-dark;
    .header-menu {
        width: 100%;
        height: 100px;
        .header-menu-container {
            width: 100%;
            height: 100%;
            max-width: 1600px;
            padding: 0 20px;
            margin: auto;
            @include estructura (row, nowrap, space-between, center);
        }
    }
}