@import '/src/assets/scss/general.scss';

.quick-view {
    width: 100%;
    padding: 80px 0;
    background-color: $app-grey;
    .quick-view-container {
        width: 100%;
        max-width: 1600px;
        margin: auto;
        padding: 0 20px;
        .container-title-search {
            padding-bottom: 40px;
            border-bottom: 2px solid $app-light;
            position: relative;
            @include estructura (row, nowrap, space-between, stretch);
            .search-title {
            @include style-text ($app-light, 40px, 55px, 400, 1px, normal);
            text-align: left;
            @media screen and (max-width: 1199px) { 
                @include style-text ($app-light, 30px, 45px, 400, 1px, normal);
            }
            @media screen and (max-width: 860px) { 
                @include style-text ($app-light, 22px, 38px, 400, 1px, normal);
            }
            }
            .search-input-container {
                width: calc(33% - 40px);
                position: relative;
                @media screen and (max-width: 1199px) { 
                    width: calc(40% - 40px);
                }
                @media screen and (max-width: 860px) { 
                    width: calc(50% - 40px);
                }
                .search-input{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 1px solid $app-light;
                    border-radius: 7px;
                    padding: 5px 5px 5px 40px;
                    @include style-text ($app-light-50, 18px, 22px, 200, 1px, normal);
                    &::placeholder{
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        @include style-text ($app-light-50, 18px, 22px, 200, 1px, normal);
                    }
                }
                .search-icon {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }
            }
            .search-results{
                position: absolute;
                width: calc(33% - 40px);
                background-color: white;
                bottom: 0;
                right: 0;
                p {
                    text-align: left;
                }
            }

        }
        .container-cards {
            width: 100%;
            margin-top: 25px;
            @include estructura (row, nowrap, space-between, stretch);
            overflow: auto;
            padding-bottom: 20px;
            @media screen and (max-width: 1199px) { 
                @include estructura (row, wrap, space-between, stretch);
            }
            .movie-card{
                position: relative;
                width: 30%;
                margin-right: 40px;
                flex-shrink: 0;
                @media screen and (max-width: 1199px) { 
                    width: 45%;
                    margin-bottom: 40px;
                }

                @media screen and (max-width: 860px) { 
                    width: 100%;
                    margin-bottom: 40px;
                }
                &:last-child{
                    margin-right: 0;
                }
                &_pic {
                    width: 100%;
                    height: auto;
                    max-height: 600px;
    
                    .fav-image {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    @media screen and (max-width: 1599px) { //1200 - 1599
              
                        height: 500px;
                    }
                    @media screen and (max-width: 1200px) { //1200 - 1599
    
                        height: 600px;
                    }
         
                }
                &_info {
                    width: 100%;
                    background: $app-grey-light;
                    padding: 15px 15px 25px;
                    .card-info-title {
                        text-align: left;
                        @include style-text ($app-light, 30px, 40px, 600, 1px, normal);
                    }
                    .card-info-text {
                        text-align: left;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        margin-top: 15px;
                        @include style-text ($app-light, 18px, 25px, 400, 1px, normal);
                    }

                }
                &_close {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    background-color: $app-dark-50;
                    border-radius: 7px;
                    @include estructura (row, nowrap, center, center);
                    .close-button{
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }
}